<template>
    <h1 class="ticketcount">
        <a href="https://tickets.mch2022.org" target="_blank" rel="nofollow noopener">Remaining tickets: {{ count }}</a>
    </h1>
</template>
<script>
    import { default as mqtt } from 'mqtt';

    const TOPIC_REGULAR = 'mch2022/ticketshop/RegularTickets';

    export default {
        data: () => ({
            count: null,
            client: null,
        }),
        created() {
            this.client = mqtt.connect('wss://mqtt.mch2022.org');
            this.client.on('connect', () => {
                this.client.subscribe(TOPIC_REGULAR);
            });
            this.client.on('message', (topic, message) => {
                if (topic !== TOPIC_REGULAR) return;

                let data = JSON.parse(message.toString());
                this.count = data.available_number;
            });
        },
    }
</script>